# Module 4 - Working with Data in Python

<h3>Learning Objectives</h3>

In this lesson you will learn about:
- Reading files with open
- Writing files with open
- Loading data with Pandas
- Working with and Saving data with Pandas

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Reading Files Python

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Read text files using Python libraries

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#Download-Data">Download Data</a></li>
        <li><a href="#Reading-Text-Files">Reading Text Files</a></li>
        <li><a href="#A-Better-Way-to-Open-a-File">A Better Way to Open a File</a></li>
    </ul>

</div>

<hr>

## Download Data

In [1]:
# # Uncomment these if working locally, else let the following code cell run.

# import urllib.request
# url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
# filename = 'Example1.txt'
# urllib.request.urlretrieve(url, filename)

# # Download Example file
# !wget Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

In [2]:
pip install pyfetch

SyntaxError: invalid syntax (4050938884.py, line 1)

In [ ]:
pip install

In [ ]:
import pandas as pd

# URL of the file
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

# Read the file using pandas
df = pd.read_csv(url)

# Print the DataFrame
print(df)

  This is line 1
0  This is line 2
1  This is line 3

<hr>

## Reading Text Files

One way to read or write a file in Python is to use the built-in <code>open</code> function. The <code>open</code> function provides a **File object** that contains the methods and attributes you need in order to read, save, and manipulate the file. In this notebook, we will only cover **.txt** files. The first parameter you need is the file path and the file name. An example is shown as follow:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadOpen.png" width="500">

The mode argument is optional and the default value is **r**. In this notebook we only cover two modes:

<ul>
    <li>**r**: Read mode for reading files </li>
    <li>**w**: Write mode for writing files</li>
</ul>

For the next example, we will use the text file **Example1.txt**. The file is shown as follows:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadFile.png" width="100">

We read the file:

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

We can view the attributes of the file.

The name of the file:

In [ ]:
# Print the path of file

file1.name

'Example1.txt'

The mode the file object is in:

In [ ]:
# Print the mode of file, either 'r' or 'w'  

file1.mode

'r'

We can read the file and assign it to a variable :

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

The **/n** means that there is a new line.

We can print the file:

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

The file is of type string:

In [ ]:
# Type of file content

type(FileContent)

str

It is very important that the file is closed in the end. This frees up resources and ensures consistency across different python versions.

In [ ]:
# Close file after finish

file1.close()

<hr>

## A Better Way to Open a File

Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
# Open file using with

with open(example1, "r") as file1:
  FileContent = file1.read()
  print(FileContent)

This is line 1
This is line 2
This is line 3

The file object is closed, you can verify it by running the following cell:

In [ ]:
# Verify if the file is colsed

file1.closed

True

We can see the info in the file:

In [ ]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

The syntax is a little confusing as the file object is after the <code>as</code> statement. We also don’t explicitly close the file. Therefore we summarize the steps in a figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadWith.png" width="500">

We don’t have to read the entire file, for example, we can read the first 4 characters by entering three as a parameter to the method **.read()**:

In [ ]:
# read first four characters

with open(example1, "r") as file1:
  print(file1.read(4))

This

Once the method <code>.read(4)</code> is called the first 4 characters are called. If we call the method again, the next 4 characters are called. The output for the following cell will demonstrate the process for different inputs to the method <code>read()</code>:

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
  print(file1.read(4))
  print(file1.read(4))
  print(file1.read(7))
  print(file1.read(15))

This
 is
line 1

This is line 2

The process is illustrated in the below figure, and each color represents the part of the file read after the method <code>read()</code> is called:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/read.png" width="500">

Here is an example using the same file, but instead we read 16, 5, and then 9 characters at a time:

In [ ]:
# Read certain amount of characters 

with open(example1, "r") as file1:
  print(file1.read(16))
  print(file1.read(5))
  print(file1.read(9))

This is line 1

This
is line 2

We can also read one line of the file at a time using the method <code>readline()</code>:

In [ ]:
# Read one line

with open(example1, "r") as file1:
  print("first line: " + file1.readline())

first line: This is line 1

We can also pass an argument to <code> readline() </code> to specify the number of charecters we want to read. However, unlike <code> read()</code>, <code> readline()</code> can only read one line at most.

In [ ]:
with open(example1, "r") as file1:
  print(file1.readline(20)) # does not read past the end of line
  print(file1.read(20)) # Return the next 20 chars

This is line 1

This is line 2
This

We can use a loop to iterate through each line:

In [ ]:
# Iterate through the line

with open(example1, "r") as file1:
  i = 0
  for line in file1:
    print("iteration", str(i), ": ", line)
    i = i + 1

iteration 0 :  This is line 1

iteration 1 :  This is line 2

iteration 2 :  This is line 3

We can use the method <code>readlines()</code> to save the text file to a list:

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
  FileasList = file1.readlines()

Each element of the list corresponds to a line of text:

In [ ]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [ ]:
# Print the second line

FileasList[1]

'This is line 2\n'

In [ ]:
# Print the second line

FileasList[2]

'This is line 3'

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python.
<hr>

In [ ]:
class A:
  x = 1

a1 = A()
a2 = A()
a1.x = 2
print(a1.x, a2.x, A.x)

2 1 1

In [ ]:
class Test:
  def __init__(self):
    self.x = 0
  
class Derived_Test(Test):
  def __init__(self):
    Test.__init__(self)
    self.y = 1
    
  def main():
    b = Derived_Test()
print(b.x, b.y)
main()

NameError: name 'b' is not defined

<hr>

<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>


# Write and Save Files in Python


Estimated time needed: **25** minutes
    

## Objectives

After completing this lab you will be able to:

* Write to files using Python libraries

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="write">Writing Files</a></li>
        <li><a href="Append">Appending Files</a></li>
        <li><a href="add">Additional File modes</a></li>
        <li><a href="copy">Copy a File</a></li>
    </ul>

</div>

<hr>

<h2 id="write">Writing Files</h2>

 We can open a file object using the method <code>write()</code> to save the text file to a list. To write to a file, the mode argument must be set to **w**. Let’s write a file **Example2.txt** with the line: **“This is line A”**

In [ ]:
# Write line to file
exmp2 = '/Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

 We can read the file to see if it worked:

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

We can write multiple lines:

In [ ]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

The method <code>.write()</code> works similarly to the method <code>.readline()</code>, except instead of reading a new line it writes a new line. The process is illustrated in the figure. The different colour coding of the grid represents a new line added to the file after each method call.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/WriteLine.png" width="500">

You can check the file to see if your results are correct.

In [ ]:
# check whether write to file

with open(exmp2, 'r') as testwritefile:
  print(testwritefile.read())

This is line A
This is line B

 We write a list to a **.txt** file  as follows:

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('/Example2.txt', 'w') as writefile:
  for line in Lines:
    print(line)
    writefile.write(line + '\n')

This is line A

This is line B

This is line C

 We can verify the file is written by reading it and printing out the values:

In [ ]:
# Verify if writing to file is successfully executed

with open('/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

This is line B

This is line C

However, note that setting the mode to __w__ overwrites all the existing data in the file.

In [ ]:
with open('Example2.txt', 'w') as writefile:
  writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
  print(testwritefile.read())  # Outputs: Overwrite

Overwrite

<hr>
<h2 id="Append">Appending Files</h2>

 We can write to files without losing any of the existing data as follows by setting the mode argument to append: **a**.  You can append a new line as follows:

In [ ]:
# Write a new line to text file

with open('/Example2.txt', 'a') as testwritefile:
  testwritefile.write('This is line C\n')
  testwritefile.write('This is line D\n')
  testwritefile.write('This is line E\n')

 You can verify the file has changed by running the following cell:

In [ ]:
# Verify if the new line is in the text file

with open('/Example2.txt', 'r') as testwritefile:
  print(testwritefile.read())

This is line A

This is line B

This is line C

This is line C
This is line D
This is line E

<hr>
<h2 id="add">Additional modes</h2>

It's fairly inefficient to open the file in **a** or **w** and then reopen it in **r** to read any lines. Luckily we can access the file in the following modes:
- **r+** : Reading and writing. Cannot truncate the file.
- **w+** : Writing and reading. Truncates the file.
- **a+** : Appending and Reading. Creates a new file, if none exists.
You dont have to dwell on the specifics of each mode for this lab.

Let's try out the __a+__ mode:

In [ ]:
with open('/Example2.txt', 'a+') as testwritefile:
  testwritefile.write("This is line E\n")
  print(testwritefile.read())

There were no errors but <code>read()</code> also did not output anything. This is because of our location in the file.

Most of the file methods we've looked at work in a certain location in the file. <code>.write() </code> writes at a certain location in the file. <code>.read()</code> reads at a certain location in the file and so on. You can think of this as moving your pointer around in the notepad to make changes at a specific location.

Opening the file in **w** is akin to opening the .txt file, moving your cursor to the beginning of the text file, writing new text and deleting everything that follows.
Whereas opening the file in **a** is similar to opening the .txt file, moving your cursor to the very end and then adding the new pieces of text. <br>
It is often very useful to know where the 'cursor' is in a file and be able to control it. The following methods allow us to do precisely this -
- <code>.tell()</code> - returns the current position in bytes
- <code>.seek(offset,from)</code> - changes the position by 'offset' bytes with respect to 'from'. From can take the value of 0,1,2 corresponding to the beginning, relative to current position and end

Now lets revisit **a+**

In [1]:
with open('/Example2.txt', 'a+') as testwritefile:
  print("Initial Location: {}".format(testwritefile.tell))

  data = testwritefile.read()
  if (not data): # empty strings return false in python
    print('Read nothing')
  else:
    print('Read: {}'.format(data))

  testwritefile.seek(0, 0) # move 0 bytes from beginning.

  print("\nNew Location : {}".format(testwritefile.tell()))
  data = testwritefile.read()
  if(not data):
    print('Read nothing')
  else:
    print(data)

  print("Location after read: {}".format(testwritefile.tell()))

Initial Location: <built-in method tell of _io.TextIOWrapper object at 0x000002D00A757A00>
Read nothing

New Location : 0
This is line A

This is line B

This is line C

This is line C
This is line D
This is line E
This is line E

Location after read: 118

Finally, a note on the difference between **w+** and **r+**. Both of these modes allow access to read and write methods; however, opening a file in **w+** overwrites it and deletes all pre-existing data. <br>
To work with a file on existing data, use **r+** and **a+**. While using **r+**, it can be useful to add a <code>.truncate()</code> method at the end of your data. This will reduce the file to your data and delete everything that follows. <br>
In the following code block, Run the code as it is first and then run it with the <code>.truncate()</code>.

In [2]:
with open('/Example2.txt', 'r+') as testwritefile:
  data = testwritefile.readlines()
  testwritefile.seek(0,0)  # write at beginning of file

  testwritefile.write("Line 1" + "\n")
  testwritefile.write("Line 2" + "\n")
  testwritefile.write("Line 3" + "\n")
  testwritefile.write("finished\n")

  # Uncomment the line below
  # testwritefile.truncate()  # remove everything after the current position

  testwritefile.seek(0,0)
  print(testwritefile.read)

<built-in method read of _io.TextIOWrapper object at 0x000002D00A80CF20>

<hr>
<h2 id="copy">Copy a File</h2>

Let's copy the file **Example2.txt** to the file **Example3.txt**:

In [3]:
# Copy file to another

with open('/Example2.txt', 'r') as readfile:
  with open('Example3.txt', 'w') as writefile:
    for line in readfile:
      writefile.write(line)

We can read the file to see if everything works:

In [4]:
# Verify if the copy is successfully executed

with open('Example3.txt', 'r') as testwritefile:
  print(testwritefile.read())

Line 1
Line 2
Line 3
finished

This is line C

This is line C
This is line D
This is line E
This is line E

 After reading files, we can also write data into files and save them in different file formats like **.txt, .csv, .xls (for excel files) etc**. You will come across these in further examples

**NOTE:** If you wish to open and view the `example3.txt` file, download this lab [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/PY0101EN-4-2-WriteFile.ipynb) and run it locally on your machine. Then go to the working directory to ensure the `example3.txt` file exists and contains the summary data that we wrote.

<hr>
<h2> Exercise </h2>

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills. <br>
Given the file `currentMem`, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the `exMem` file. Make sure that the format of the original files in preserved.   (*Hint: Do this by reading/writing whole lines and ensuring the header remains* )
<br>
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the `cleanFiles` function.

In [5]:
# Run this prior to starting the exercise
from random import randint as rnd 

memReg = 'members.txt'
exReg = 'inactive.txt'
fee = ('yes', 'no')

def genFiles(current, old):
  with open(current, 'w+') as writefile:
    writefile.write('Membership  No Data Joined Active \n')
    data = "{:^13} {:<11} {:<6}\n"

    for rowno in range(20):
      date = str(rnd(2015, 2020)) + '-' + str(rnd(1,12)) + '-' + str(rnd(1,25))
      writefile.write(data.format(rnd(10000, 99999), date, fee[rnd(0,1)]))

  with open(old, 'w+') as writefile:
    writefile.write('Membership No Date Joined Active \n')
    date = "{:^13} {:<11} {:<6}\n"
    for rowno in range(3):
      date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
      writefile.write(data.format(rnd(10000,99999),date,fee[1]))

genFiles(memReg, exReg)

Now that you've run the prerequisite code cell above, which prepared the files for this exercise, you are ready to move on to the implementation.

#### **Exercise:** Implement the cleanFiles function in the code cell below.

In [6]:
  
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    # TODO: Open the currentMem file as in r+ mode
        #TODO: Open the exMem file in a+ mode

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem

        
    
    pass # Remove this line when done implementation


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership  No Data Joined Active
    10732     2017-7-9    yes
    61331     2017-5-2    yes
    15451     2017-4-2    yes
    77168     2017-8-16   yes
    60881     2018-8-13   no
    73492     2015-1-8    no
    45236     2018-12-10  no
    25033     2015-5-21   no
    17139     2019-10-16  no
    41742     2017-1-8    no
    50925     2016-7-13   yes
    44552     2016-12-12  yes
    58082     2015-11-18  yes
    32346     2016-4-8    no
    83301     2016-12-11  no
    64571     2015-5-25   yes
    95944     2017-8-7    no
    46616     2017-9-19   yes
    93253     2015-6-7    no
    41152     2017-2-15   yes

Inactive Members:


Membership No Date Joined Active
    77266     2019-2-25   no
    57680     2015-3-6    no
    12222     2020-6-9    no

The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of `cleanFiles`.

In [7]:
def testMsg(passed):
  if passed:
    return 'Test Passed'
  else:
    return 'Test Failed'
  
testWrite = "testWrite.txt"
testAppend = "testAppend.txt"
passed = True

genFiles(testWrite, testAppend)

with open(testWrite, 'r') as file:
  ogWrite = file.readlines()

with open(testAppend, 'r') as file:
  ogAppend = file.readlines()

try:
  cleanFiles(testWrite, testAppend)
except:
  print('Error')

with open(testWrite, 'r') as file:
  clWrite = file.readlines()

with open(testAppend, 'r') as file:
  clAppend = file.readlines()

# checking if total no of row is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
  print('The number of rows do not add up. Make sure your final files have the same header and format.')
  passed = False

for line in clWrite:
  if 'no' in line:
    passed = False
    print("Inactive members in file")
    break
  else:
    if line not in ogWrite:
      print("Data in file does not match original file")
      passed = False
print("{}".format(testMsg(passed)))

Inactive members in file
Test Failed

In [8]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership  No Data Joined Active
    10732     2017-7-9    yes
    61331     2017-5-2    yes
    15451     2017-4-2    yes
    77168     2017-8-16   yes
    50925     2016-7-13   yes
    44552     2016-12-12  yes
    58082     2015-11-18  yes
    64571     2015-5-25   yes
    46616     2017-9-19   yes
    41152     2017-2-15   yes

Inactive Members:


Membership No Date Joined Active
    77266     2019-2-25   no
    57680     2015-3-6    no
    12222     2020-6-9    no
    60881     2018-8-13   no
    73492     2015-1-8    no
    45236     2018-12-10  no
    25033     2015-5-21   no
    17139     2019-10-16  no
    41742     2017-1-8    no
    32346     2016-4-8    no
    83301     2016-12-11  no
    95944     2017-8-7    no
    93253     2015-6-7    no

<details><summary>Click here for the solution</summary>

```python
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())
    
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed this lesson and hands-on lab in Python. 
<hr>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

df = pd.DataFrame({'a':[11, 21, 31], 'b':[21, 22, 23]})

1) Display the first three rows:

In [11]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

<details><summary>Click here for the solution</summary>

```python
df.head(3)
    
```

</details>

2) Obtain column  <code> 'a' </code>:

In [13]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

<details><summary>Click here for the solution</summary>

```python
df['a']
    
```

</details>

In [14]:
# Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>

<h3 align="center"> © IBM Corporation 2024. All rights reserved. <h3/>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [15]:
import pandas as pd

df = pd.DataFrame({'a':[1,2,1], 'b':[1,1,1]})

1) Find unique value in df of a

In [17]:
df['a'].unique()

array([1, 2])

<details><summary>Click here for the solution</summary>

```python
df['a'].unique()
    
```

</details>

2) Return a dataframe with only the rows where column <code> a </code> is less than two:

In [18]:
df[df['a'] <2]

   a  b
0  1  1
2  1  1

<details><summary>Click here for the solution</summary>

```python
df[df['a']<2]
    
```

</details>

In [19]:
# Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

# What type does the following return: df['a']==1 


import pandas as pd

df = pd.DataFrame({'a': [1, 2, 1], 'b': [1, 1, 1]})

result = df['a'] == 1
print(result)

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
# What task does the following method perform: df.to_csv("file.csv")?
# 1) Save a dataframe to a csv file. 2) Load a csv file to a dataframe.
# Answer: 1) Save a dataframe to a csv file.
# Explanation: The method df.to_csv() is used to save a dataframe to a csv file.


import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'a': [1, 2, 1], 'b': [1, 1, 1]})

# Write DataFrame to CSV file
df.to_csv("file.csv")

<hr>

<h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Loading data with Pandas

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Use Pandas to access and view data

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#About-the-Dataset">About the Dataset</a></li>
        <li><a href="#Introduction-of-Pandas">Introduction of <code>Pandas</code></a></li>
        <li><a href="#Viewing-Data-and-Accessing-Data">Viewing Data and Accessing Data</a></li>
        <li><a href="#Quiz-on-DataFrame">Quiz on DataFrame</a></li>
    </ul>

</div>

<hr>

## About the Dataset

The table has one row for each album and several columns.

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

## Introduction of <code>Pandas</code>

In [4]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
#!pip install xlrd

#!pip install openpyxl 
import piplite # type: ignore
await piplite.install(['xlrd','openpyxl'])

ModuleNotFoundError: No module named 'piplite'

In [6]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [7]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
  response = await pyfetch(url, mode='cors')
  if response.status == 200:
    with open(filename, 'wb') as f:
      f.write(await response.bytes())

await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

ModuleNotFoundError: No module named 'pyodide'

In [ ]:
pip install pyodide

Collecting pyodide
  Downloading pyodide-0.0.2.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [7 lines of output]
  Traceback (most recent call last):
    File "<string>", line 2, in <module>
    File "<pip-setuptools-caller>", line 34, in <module>
    File "C:\Users\hp\AppData\Local\Temp\pip-install-wdxffgmk\pyodide_a817a124da7e41ac969b0577559f2946\setup.py", line 7, in <module>
      raise ValueError(
  ValueError: Pyodide is a Python distribution that runs in the browser or Node.js. It cannot be installed from PyPi.
              See https://github.com/pyodide/pyodide for how to use Pyodide.
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface. While working on the downloaded version of this notebook on their local machines, the learners can simply **skip the steps above**, and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [8]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
df = pd.read_csv(filename)

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [10]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [13]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/jupyterlite/files/Module%205/data/TopSellingAlbums.xlsx'

# await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface. While working on the downloaded version of this notebook on their local machines, the learners can simply **skip the steps above**, and simply use the URL directly in the `pandas.read_excel()` function. You can uncomment and run the statements in the cell below.

In [14]:
xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/jupyterlite/files/Module%205/data/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:

In [ ]:
# Access to the column length

x = df[['Length']]
x

     Length
0  00:42:19
1   0:42:11
2   0:42:49
3   0:57:44
4   0:46:33
5   0:43:08
6  01:15:54
7   0:40:01

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgOne.png" width="750">

<hr>

## Viewing Data and Accessing Data

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [ ]:
# Get the column as a series 

x = df['Length']
x

0    00:42:19
1     0:42:11
2     0:42:49
3     0:57:44
4     0:46:33
5     0:43:08
6    01:15:54
7     0:40:01
Name: Length, dtype: object

You can also get a column as a dataframe. For example, we can assign the column <b>Artist</b>:

In [ ]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [ ]:
# Access to multiple columns

y = df[['Artist', 'Length', 'Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC   0:42:11                    hard rock
2       Pink Floyd   0:42:49             progressive rock
3  Whitney Houston   0:57:44               R&B, soul, pop
4        Meat Loaf   0:46:33  hard rock, progressive rock
5           Eagles   0:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac   0:40:01                    soft rock

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgTwo.png" width="1100">

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [19]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

You can access the 2nd row and the 1st column as follows:

In [20]:
# Access the value on the second row and the first column

df.iloc[1, 0]

'AC/DC'

You can access the 1st row and the 3rd column as follows:

In [21]:
# Access the value on the first row and the third column

df.iloc[0, 2]

np.int64(1982)

In [22]:
# Access the value on the second row and the third column
df.iloc[1,2]

np.int64(1980)

This is shown in the following image

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/2_loc.PNG" width="750">

You can access the column using the name as well, the following are the same as above:

In [26]:
# Access the column using the name

df.loc[0, 'Artist']

'Michael Jackson'

In [23]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [24]:
# Access the column using the name

df.loc[0, 'Released']

np.int64(1982)

In [25]:
# Access the column using the name

df.loc[1, 'Released']

np.int64(1980)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/1_loc.png" width="750">

You can perform slicing using both the index and the name of the column:

In [27]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/4_loc.png" width="750">

In [28]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/3_loc.png" width="750">

<hr>

## Quiz on DataFrame

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

<details><summary>Click here for the solution</summary>

```python
q = df[['Rating']]
q
    
```

</details>

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [30]:
# Write your code below and press Shift+Enter to execute
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

<details><summary>Click here for the solution</summary>

```python
q = df[['Released', 'Artist']]
q
    
```

</details>

Access the 2nd row and the 3rd column of <code>df</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
df.iloc[1,2]

np.int64(1980)

<details><summary>Click here for the solution</summary>

```python
df.iloc[1, 2]
    
```

</details>

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [33]:
new_index=['a','b','c','d','e','f','g','h']

df_new = df
df_new.index = new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

<details><summary>Click here for the solution</summary>

```python
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']
    
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. 
<hr>

## Authors:

[Joseph Santarcangelo](https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)

Joseph Santarcangelo has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>

<!--## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2023-11-02 | 2.2 | Abhishek Gagneja | Instructions updated |
| 2022-01-10        | 2.1     | Malika     | Removed the readme for GitShare    |
| 2020-08-26        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |
| 2020-11-24        | 3.0     | Nayef      | Added new images                   |
|                   |         |            |                                    |

<hr/>
--!>

# Review Questions

Q1. What do the following lines of code do? 
```
with open("Example1.txt","r") as file1:
  FileContent=file1.readlines() 
  print(FileContent) 
```
option is:-
 1) Read the file "Example1.txt". 
 2) Write to the file "Example1.txt". 
 3) Append the file "Example1.txt".
 
Ans is:-
1) Read the file "Example1.txt".

Q2. What do the following lines of code do?
```
with open("Example2.txt","w") as writefile:

    writefile.write("This is line A\n")

    writefile.write("This is line B\n")
```

option is:-
 1) Read the file "Example2.txt". 
 2) Write to the file "Example2.txt". 
 3) Append the file "Example2.txt".

Ans is:-

 2) Write to the file "Example2.txt".

Q3. What do the following lines of code do?
```
with open("Example3.txt","a") as file1:

  file1.write("This is line C\n")
```

option is:-
 1) Read the file "Example3.txt". 
 2) Write to the file "Example3.txt". 
 3) Append the file "Example3.txt".

Ans is:-

 3) Append the file "Example3.txt".

Q4. What is the result of applying the following method df.head() to the dataframe "df"?

 1) Prints the first row of the dataframe.
 2) prints the first column of the dataframe.
 3) prints the first 5 rows of the dataframe.
 4) prints out the entire dataframe.

Ans is:- 

 3) prints the first 5 rows of the dataframe.