<a href="https://colab.research.google.com/github/Dheeraj2002kumar/Python_with_Data_Science/blob/main/2_Python_practice_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Comparision Operators
- (==)
- (!=)
- (>)
- (<)
- (>=)
- (<=)

In [1]:
x = 5
y = 2

print(x > y)

True

In [2]:
print(x == 5)

True

In [3]:
x = 5  # Assigning the value 5 to x variable
print(x == 5)  # Comparing whether the value of x is equal to 5 or not

True

In [4]:
print(x != 10)

True

In [5]:
print(x != 5)

False

In [6]:
print(x < 10)

True

In [7]:
print(x > 5)

False

In [9]:
print(x <= 5)   # either equal or more than

True

In [10]:
print(x >= 5)

True

### Logical Operators
- and
- or
- not

### AND
- The output is True only if both the inputs are True, otherwise False

### OR
- The output is True if atleast one  of the input is True, otherwise False

### NOT
- Output of True is False and vice-versa

In [11]:
maths = 88
phy = 91

print(maths > 80 and phy < 95)   # True and True

True

In [12]:
print(maths > 90 and phy < 95) # False and True

False

In [13]:
print(maths > 90 or phy < 95)   # False or True

True

In [14]:
print(maths > 90 or phy < 85)  # False or False

False

In [15]:
x = 5
print(x > 5)

False

In [16]:
x = 5
print(not(x>5))   # x>5 ==> false ==> not(x>5) ==> True

True

### Membership Operator
- Used to check if an element is a member of a sequence or not
  - in
  - not in

In [17]:
l = [3, 1, 0, 4, 14]
l

[3, 1, 0, 4, 14]

In [19]:
print(1 in l) # 1 is available in l variable

True

In [20]:
print(19 in l)  # 10 is not available in l variable

False

### Print statement in Python
- Used to print the data on the screen

In [21]:
x = 5
print(x)

5

In [22]:
print(x, x, x)

5 5 5

In [23]:
x = 3
y = 17
print(x, y)

3 17

In [24]:
x = 3
y = 17
print(x, y, x+y, x*y, 'hi', 85)

3 17 20 51 hi 85

In [26]:
print('Hello world')

Hello world

In [27]:
print('helloworld')

helloworld

In [29]:
print('hello\nworld') # \n is an escape character which represents new line

hello
world

In [30]:
print('hello')
print('world')

hello
world

In [31]:
print('hell', end = '\n')
print('world')

hell
world

In [32]:
print('hello', end = ':')
print('world')

hello:world

In [33]:
print(8, 909, end = ':')
print(5)

8 909:5

### Input function in Python
--> Used to take some data from the user during the development processes.
- Used majorly to take some dummy data in order to test the code.

In [34]:
maths = input('Enter maths marks: ')
phy = input('Enter phy marks: ')

Enter maths marks: 99
Enter phy marks: 98

In [35]:
print(type(maths))

<class 'str'>

In [36]:
print(maths)

99

Note: Input function stores data in string format by default.

### Type Casting / Conversion

In [37]:
maths = input('Enter maths marks: ')
phy = input('Enter phy marks: ')
m = int(maths)
p = int(phy)
print(type(maths))
print(type(m))

Enter maths marks: 99
Enter phy marks: 95
<class 'str'>
<class 'int'>

In [38]:
maths = int(input('Enter maths marks: '))
phy = int(input('Enter phy marks: '))
print(type(maths))

Enter maths marks: 88
Enter phy marks: 94
<class 'int'>

### Conditional Statements
- if else Statements
Indentation represents the block of code within statement.

# Syntax:
<pre>
if condition:
  task1
  task2
else:
  task3
<pre>

### Q. WAP  to check if a user input is positive or not.

In [39]:
num = int(input('Enter a number: '))
if (num > 0):
  print('Positive!');
else:
  print('Not Positive!');

Enter a number: 88
Positive!

In [40]:
num = int(input('Enter a number: '))
if (num > 0):
  print('Positive')
else:
  print('Not Positive')

Enter a number: -55
Not Positive

### Q. Write a program to check if a number input by user is even or odd.

In [41]:
num = int(input('Enter number: '))
if (num % 2 == 0):
  print('Even');
else:
  print('Odd')

Enter number: 44
Even

In [42]:
num = int(input('Enter number: '))
if (num % 2 == 0):
  print('Even')
else:
  print('Odd')

Enter number: 77
Odd

### Q. Write a program to check if a character input is  a vowel or not.

In [43]:
char = input('Enter a character: ')
vowel = 'aeiouAEIOU'

if (char in vowel):
  print('Vowel')
else:
  print('Not a Vowel')

Enter a character: a
Vowel

In [44]:
char = input('Enter a character: ');
vowel = 'aeiouAEIOU'

if(char in vowel):
  print('Vowel')
else:
  print('Not a vowel')

Enter a character: ra
Not a vowel

Q. Write a Program to check if a number is positive, negative or zero.

In [46]:
# Methode 1
num = int(input('Enter number: '))
if(num > 0):
  print(num, 'is Positive!')
else:
  if (num < 0):
    print(num, 'is Negative!')
  else:
    print(num, 'is Zero!')

Enter number: 55
55 is Positive!

In [48]:
num = int(input('Enter number: '))
if(num > 0):
  print(num, 'is Positive!')
else:
  if (num < 0):
    print(num, 'is Negative!')
  else:
    print(num, 'is Zero!')

Enter number: -3
-3 is Negative!

In [49]:
num = int(input('Enter number: '))
if(num > 0):
  print(num, 'is Positive!')
else:
  if (num < 0):
    print(num, 'is Negative!')
  else:
    print(num, 'is Zero!')

Enter number: 0
0 is Zero!

Q. Write a Program to check if a number is positive, negative or zero.

In [47]:
# Methode 2

num = int(input('Enter number: '))
if(num > 0):
  print(num, 'is Positive')
elif(num < 0):
  print(num, 'is Negative')
else:
  print(num, 'is Zero')

Enter number: 0
0 is Zero

Q. write a program to maximum between two numbers.

In [50]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

if(num1 > num2):
  print('First number is bigger')
elif(num1 < num2):
  print('Second number is bigger')
else:
  print('Both are equal')

Enter first number: 33
Enter second number: 35
Second number is bigger

### Loop statements
To implement repetition
- for loop: When we know the number of repetitions for a task.
- while loop: When we know the condition on which the repetition is dependent on

### for loop
- range function:
  - It is a function which returns a sequence of integers in a ggiven range.

In [51]:
list(range(5))    # range(n):  0, 1, 2......n-1

[0, 1, 2, 3, 4]

In [53]:
list(range(2, 9))  # range(m, n): m, m+1......n-1

[2, 3, 4, 5, 6, 7, 8]

In [55]:
list(range(2, 9, 2))  # range(m, n, p = 2) ==> p represent how much step will iterate

[2, 4, 6, 8]

In [56]:
list(range(2,9,-1))

[]

In [57]:
list(range(9, 2, -1))   # range(n, m, -1): n, n-1, n-2...... m+1

[9, 8, 7, 6, 5, 4, 3]

Q. Write a program to create a list of a natural nmbers. Take n from the user.

In [58]:
n = int(input('Enter n: '))
l = list(range(1, n+1))
l

Enter n: 44

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44]

In [59]:
n = int(input('Enter n: '))
l = list(range(1, n+1))
l

Enter n: 15

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Syntax:
<pre>
for loopVar in sequence:
  task1
  task2
</pre>

In [60]:
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [61]:
# Different methode

for i in range(10):
  print('hello', i)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [62]:
sl = ['Dheeraj', 'Niraj', 'Saurabh']
for name in sl:
  print(name, 'Welcome to this world!!')

Dheeraj Welcome to this world!!
Niraj Welcome to this world!!
Saurabh Welcome to this world!!

### Conditional Statement with for loop
Q. write a program to print the squares of n natural numbers.

In [63]:
n = int(input('Enter number: '))
for i in range(1, n+1):
  print(i, i**2)

Enter number: 12
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144

Write a program to print the square of n even natural numbers.

In [64]:
n = int(input('Enter number: '))
for i in range(1, n+1):
  if(i % 2 == 0):
    print(i, i**2)

Enter number: 15
2 4
4 16
6 36
8 64
10 100
12 144
14 196

In [66]:
# Dry Run

# i   ifCon   Print
# 1     F       -
# 2     T      2 4
# 3     F       -
# 4     T     4 16
# 5     F      -
# 6     T     6 36
# 7     F      -
# 8     T     8 64
# 9     F      -
# 10    T     10 100
# 11    F       -
# 12    T     12 144
# 13    F      -
# 14    T     14 196

In [67]:
l = ['Dheeraj', 'Niraj', 'Saurabh', 'Suraj']
for name in l:
  if (len(name) == 5):
    print(name)

Niraj
Suraj

In [68]:
l = ['Dheeraj', 'Niraj', 'Saurabh', 'Suraj']
for name in l:
  print(name)

Dheeraj
Niraj
Saurabh
Suraj

In [69]:
l = ['Dheeraj', 'Niraj', 'Saurabh', 'Suraj']
for index in range(len(l)):
  print([index])

# Dry Run
# len(l) = 4
# for index in range(len(l)):
#   print(index)

# index   print
#   0     Dheeraj
#   1     Niraj
#   2     Saurabh
#   3     Suraj

[0]
[1]
[2]
[3]

Q. Write a program to print all the names starting with a vowel.

In [70]:
l = ['Abdul', 'Sneha', 'Ezaz', 'Ira', 'Dhanush']
vowel = 'aeiouAEIOU'
for name in l:
  if(name[0] in vowel):
    print(name)


# # Dry run
# name      name[0]     ifCondition     print
# Abdul       A           T             Abdul
# Sneha       S           F               -
# Ezaz        E           T             Ezaz
# Ira         I           T             Ira
# Dhanush     D           F               -

Abdul
Ezaz
Ira