<a href="https://colab.research.google.com/github/Dheeraj2002kumar/Python_with_Data_Science/blob/main/Python_practice_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables
- Variables are the name or the memory location where data gets strored

In [ ]:
x = 12  # x is a variable and 12 is data
print(x)  # print is a function that print the value on the screen

12

In [ ]:
variable = 'Dheeraj';
print(variable);

Dheeraj

### Rules for naming variables
- A name can only contain alphabets, digits or underscore character.
- A name can not start with a digit.
- Names are case-sensitive.
- Reserved keywords are not allowed for naming purpose.

In [ ]:
# Valid variable name
x = 12;
x1 = 12;
x_ = 12;
x_1 = 12;

In [ ]:
# Invalid variable name
x@ = 12;
x!_1 = 12;
1x = 12

SyntaxError: invalid decimal literal (619581456.py, line 4)

In [ ]:
x = 12;
x = 50;

In [ ]:
print(x)

50

In [ ]:
x = 11;

if = 50; # if is a pre-defined keyword in Python which already has a different meaning

SyntaxError: invalid syntax (1147040890.py, line 3)

In [ ]:
finally1 = 24;

In [ ]:
finally = 34; # finally is a pre-defined keyword in Python which already has a different meaning

SyntaxError: invalid syntax (2236298162.py, line 1)

### Data Types in Python

- Non-Sequence Data Types
  1. Integers (int)
  2. Decimal Point Number (float)
  3. Complex numbers (complex)
  4. Boolean (bool)
     
- Sequence Data Type (Inbuilt Data Structures in Python)
  - Indexable sequence
    1. String
    2. List
    3. Tuple

  - Non-indexable Sequence
    1. dictionary
    2. Set

### Integers
Positive and Negative whole numbers

In [8]:
x = 12;
print(x);
print(type(x)); # type is a function which gives you the data Type of the given variable

12
<class 'int'>

### Floating Point Numbers
- Decimal Numbers

In [9]:
x = 3.14;
print(x);
print(type(x));

3.14
<class 'float'>

### Boolean
- Having two states/possibilites

In [11]:
x = True;
y = False;
print(x, y);
print(type(x));
print(type(y));

True False
<class 'bool'>
<class 'bool'>

## String
String is a collection of characters stored inside quotes (' ' / " ")

In [12]:
string = 'hello';
print(string);
print(type(string));

hello
<class 'str'>

In [13]:
# we can write characters inside quotes (single quotes ' ' and double quotes " ")
st = 'hello';
st1 = "hello";

print(st);
print(st1);

hello
hello

In [14]:
# we can access with indexing value (start with 0 left to right and start with -1 right to left)
print(st);
print(st[0]);

hello
h

In [18]:
print(st[-4]);
print(st[-1])

e
o

### List
It is a collection of heterogenous (different type of data elements) Data elements

In [19]:
studentNames = ['A', 'B', 'C', 'D']
print(studentNames)
print(type(studentNames))

['A', 'B', 'C', 'D']
<class 'list'>

In [20]:
l = [23, 56, 'hello', [True, 53]];
print(l);
print(type(l));

[23, 56, 'hello', [True, 53]]
<class 'list'>

In [21]:
marks = [99, 88, 95, 95, 88];
print(marks);

[99, 88, 95, 95, 88]

In [22]:
marks

[99, 88, 95, 95, 88]

In [23]:
print(marks[0]);

99

### Mutable sequence i.e they can be modified
- List
- Dictionary
- Set

### Immutable Sequence i.e they can not be modified or alter

- Tuple
- String

In [30]:
print(type(marks));

<class 'list'>

In [31]:
print(marks);

[99, 88, 95, 95, 88]

In [32]:
# list are mutable example
marks[0] = 54;
print(marks);

[54, 88, 95, 95, 88]

####  Tuple
It is a collection of heterogenous data Elements

- List is mutable, while tuple is immutale.
- Lis used Square Brackets [], while tuple used Round Brackets ().
- Tuple is comparatively faster in execution as compared to a List

In [33]:
t = (100, 91, 48);
print(t);

(100, 91, 48)

In [34]:
print(t[0]);

100

In [35]:
t[0] = 53  # Tuple is immutable. can not change the data

TypeError: 'tuple' object does not support item assignment

In [36]:
st

'hello'

In [39]:
st[0] = -q;
print(st); # string are immutable

NameError: name 'q' is not defined

In [40]:
print(type(st));

<class 'str'>

In [41]:
l

[23, 56, 'hello', [True, 53]]

In [44]:
# access 53
print(l[-1][-1]);

53

In [43]:
print(l[3][1]);

53

### Dictionary
Dictionary is a collection of key-value pairs stored together as items

In [46]:
dictinary = {'math': 99, 'phy':97, 'chem':95, 'eng':99, 'computer': 100};
print(dictinary);

{'math': 99, 'phy': 97, 'chem': 95, 'eng': 99, 'computer': 100}

In [47]:
dictinary[0]

KeyError: 0

In [48]:
print(dictinary['computer']);

100

In [50]:
print(dictinary[100]); // key error

KeyError: 100

## Set
It is an unorderedcollection of unique elements

In [51]:
SET = {100, 99, 44, 45};

In [52]:
print(SET);

{99, 100, 45, 44}

In [53]:
print(type(SET));
print(SET[0]);

<class 'set'>

TypeError: 'set' object is not subscriptable

- Ordered sequence
  - String
  - List
  - Tuple
  - Dictinary
- Unordered Sequence
  - Dictionary < 3.7
  - Set

### Types of Operatores
- Arithmetic Operators
- comarison Operators
- Logical Operators
- Membership Operators

# Arithmetic Operators
 - Adition operators (+)
 - subtraction operators (-)
 - Multiplication Operators (*)
 - Division Operators (/)
 - Modulus/ remainder Operators (%)
 - Floor division operators (//)
 - Power / Exponent operators (**)

In [54]:
x = 5;
y = 2;
print(x+y);
print(x-y);
print(x*y);
print(x/y);
print(x%y);
print(x//y);
print(x**y);

7
3
10
2.5
1
2
25

In [55]:
print(4/2); # division in python always gives a floot output

2.0

In [56]:
63/5

12.6

In [57]:
53%5

3

In [58]:
60 % 5

0

In [59]:
5 / 2

2.5

In [61]:
5 // 2

2

- floor division: first it will divide and then floor the output
- floor means to round down to the nearest integer

In [62]:
print(4 * 3);

12

In [63]:
print(4 ** 3);

64