<a href="https://colab.research.google.com/github/Dheeraj2002kumar/Python_with_Data_Science/blob/main/Taking_Input_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# for python version checking
!python3 --version

Python 3.10.12

### Python User Input

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:ABC
Username is: ABC

In [ ]:
name = input("Enter name : ")
age = int(input("Enter age : "))
_class = int(input("Enter class : "))

print(name, age, _class)

Enter name : abc
Enter age : 10
Enter class : 5
abc 10 5

In [ ]:
type(name), type(age), type(_class)

(str, int, int)

### F-Strings : formatted Strings

In [ ]:
txt = f"The price is 49 dollars"
print(txt, type(txt))

The price is 49 dollars <class 'str'>

In [ ]:
txt = "The price is 49 dollars"
print(txt, type(txt))

The price is 49 dollars <class 'str'>

### Placeholders and Modifiers

In [ ]:
price = int(input("Enter price of rice per kg:"))
total_price = 19 * price
txt = f"The total price is {total_price} dollars"
print(txt)

Enter price of rice per kg:188
The total price is 3572 dollars

In [ ]:
v = 95.33333333
txt = f"The price is {v:.5f} dollars"
print(txt)

The price is 95.33333 dollars

### Perform Operations in F-Strings

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
price = float(input("Enter price : "))
tax = float(input("Enter tax : "))
txt = f"The price is {price + (price * tax)} dollars"
print(txt)
txt = f"The price is {price + (price * tax):.2f} dollars"
print(txt)

Enter price : 12.33
Enter tax : 10.8888
The price is 146.588904 dollars
The price is 146.59 dollars

### You can perform if...else statements inside the placeholders.

In [ ]:
price = float(input("Enter price : "))
txt = f"It is very {'Expensive' if price > 50 else 'Cheap'}"

print(txt)

Enter price : 12
It is very Cheap

### Execute Functions in F-Strings

In [ ]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

### The function does not have to be a built-in Python method, you can create your own functions and use them.

In [ ]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [ ]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

### String format()

In [ ]:
price = 49
txt = "The price is {} {} dollars"
print(txt)
print(txt.format(price, price+10))

The price is {} {} dollars
The price is 49 59 dollars

In [ ]:
txt = "The price is {:.2f} dollars"

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

### Index Numbers

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

### Named Indexes

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))